#*********************************************************************
# Copyright (c) Intel Corporation 2020
# SPDX-License-Identifier: Apache-2.0
#*********************************************************************/

# This is a basic workflow to help you get started with Actions

name: Docs-Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
permissions:
  contents: read

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    permissions:
      contents: write # for Git to git push
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.11"
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          pip install -r ./requirements.txt --require-hashes
          mkdocs build --strict
      #checkout the gh-pages branch
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          path: "to-be-published"
          ref: "gh-pages"
      #copy the built site content
      - name: Copy
        if: ${{ github.ref == 'refs/heads/main' }}
        run: cp -rlf site/* ./to-be-published/
      #publish it
      - name: Publish content
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          MESSAGE: ${{github.event.head_commit.message}}
        run: |
          cd ./to-be-published
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "ci: ${{env.MESSAGE}}"
          git push origin gh-pages
